body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    background-color: black;
    height: 100dvh;
    width: 100vw;
}

canvas{
    /* image-rendering: pixelated; */
    /* width: 320px;
    height: 240px; */
    /* scale: 2; */
    background-color: red;
}

button{
    position: absolute;
    top: 10px;
    left: 10px;
}